/*sytled form element with display flex for responsiveness, but still acheiving a max-width for the form-control blocks*/
form {
    box-sizing: border-box;
    justify-content: left;
    border-radius: 5%;
    display: flex;
    width: 600px;
    background-color: beige;
    padding: 20px;
    margin: 50px 40px;
}

/*decreased font size for check boxes and background-color*/
.form-check{
    font: 12px;
    background-color: ivory;
    font-family: 'Lucida Sans';
}

/*increased margin sizing for separation*/
.form-label {
    margin: 20px;

}

/*made outline of telephone and email entries to be red if not filled in*/
input:invalid {
    outline: red solid 3px;
}

/*styled like form-control elements for alignment*/
.tel
   {
    margin:20px;
    border-radius: 15px;
}

.option {
    width: 5px;
}

/*form styling for separation*/
.form-select {
    margin-top: 15px;
    width: 10px;
}

/*styled legend to bold and bigger font*/
legend {
    font:14px white;
    font-family: bold;
    margin: 20px;
    width: 20px;
}

p.button {
    margin-top: 30px;

}

/*further styling of paragraph*/
p {
    font: 12px;
    margin: 20px;
    width:400px;
}
nav {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}


