@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: (5, 1fr);
    gap: 1em;  
    border-radius: 0.5em;
    border: 1em black;
    back-ground-color: #000080;
}

.box1: {
    grid-row: 1 / 3;
    grid-column: 1, span;
    background-color: #8A244B;
}

.box2: {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    background-color: #FAEB92;   
}

.box3: {
    grid-row: 3 / 4;
    grid-column: 2, span;
    background-color: #75B06F;
}

.box4: {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    back-ground-color: #B0FFFA; 
}

.box5: {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    back-ground-color: #85409D;
}

.box6: {
    grid-row: 5 / 6;
    grid-column: 1, span;
    back-ground-color: #F39EB6;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}
